h1 {
    text-align: center;
    color: #F06751; 
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
}

h2 {
    color: #F06751; 
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
}

p {
    width: 800px;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
    margin-top: 30px;
    margin-bottom: 30px;
}

 #navigateButton {
    display: block;
    margin: 0 auto; /* centers horizontally */
    padding: 12px 25px;
    font-size: 18px;
    background-color: #F06751;
    color: white;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s ease;
}

.image-row {
    display: flex;
    justify-content: center; /* centers horizontally */
    align-items: center;     /* aligns vertically */
    gap: 20px;               /* space between images */
    margin-top: 30px;
  }

  .image-row img {
    width: 200px;
    border-radius: 10px;
  }